* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh; 
    background-color: darkgray;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow-x: hidden;
    margin: 0;
}

.page_wrapper {
    width: 70vw;
    min-height: calc(100vh - 30px); 
    background-color: white;

    background-image:
        linear-gradient(to right, rgba(220,220,220,0.3) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(220,220,220,0.3) 1px, transparent 1px);
    background-size: 20px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 6px solid black;
    box-shadow: 10px 10px 0 black;

    margin-top: 15px; 
    padding-bottom: 40px; 
}

.container {
    width: calc(100% - 150px);   
    max-width: 65vw;             
    margin: 120px auto 0 auto;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#container-title {
    background-color: lightseagreen;
    color: white;
    padding: 10px 25px;
    font-size: 50px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    margin-bottom: 20px;
}


.card {
    width: 100%;                 
    border: 5px solid black;
    box-shadow: 6px 6px black;
    background-color: white;
}

.card-text {
    font-size: 20px;
    margin: 20px 20px 40px 40px;
    line-height: 2;
}
