body{
    width: 100vw;
    height: 100vh;
    background-color: darkgray;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.page_wrapper{
    width: 70vw;
    height: 150vh;
    background-color: white;
    background-image:
        linear-gradient(to right, rgba(220,220,220,0.3) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(220,220,220,0.3) 1px, transparent 1px);

    background-size: 20px 20px;

    border: 6px solid black;
    box-shadow: 10px 10px 0 black;

    position: relative;
    top: 20px;
}





