body{
    width: 100vw;
    height: 100vh;
    background-color: beige;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page_wrapper{
    width: 70vw;
    height: 100vh;
    background-color: white;

    border-radius: 30px;
    position: relative;
    top: 20px;
}





