.navbar {
    width: 65vw;
    height: 69px;
    background-color: #607d8b;
    color: #fff;               
    display: flex;
    justify-content: space-between; 
    align-items: center;             
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    padding: 0 25px; 
    box-shadow: 8px 8px  rgb(0, 0, 0);
    border: 4px solid black;
    transition: all 0.3s ease;

}

.nav {

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 8px;

}
.nav-link{

    display: inline-block;
    transition: transform 0.25s cubic-bezier(.4,0,.2,1);

}

.nav-link:hover {
        
    transform: 
    translate(-10px, -10px)
    scale(1.5)
    rotate(-7deg);

}

.nav-active,
.nav-cta{
    background-color: lightseagreen;
    border: 3px solid black;
    box-shadow: 3px 3px rgb(0, 0, 0);

    cursor: pointer;
    display: inline-block;
    transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.1s ease;
}

.nav-active:hover,
.nav-cta:hover{
    box-shadow: 0 0 rgb(0, 0, 0);
    transform: 
    translate(5px, 5px);
}

